{% if task.get_type_display == "Subtitle" or task.get_type_display == "Translate"%}
<script type="text/javascript">
$('.perform-task-{{ task.pk }}').click(function() {
    var videoSource = unisubs.player.MediaSource.videoSourceForURL('{{ task.cached_video_url }}');
    var opener = new unisubs.widget.SubtitleDialogOpener(
        '{{ task.team_video.video.video_id }}',
        '{{ task.cached_video_url|safe }}',
        videoSource, null, null, 'fr'
    );
    {% if task.language %}
        opener.showStartDialog(null, {'LANGUAGE': '{{ task.language }}', 'FORCE': true});
    {% else %}
        opener.showStartDialog();
    {% endif %}

    return false;
});
</script>
{% else %}
<script type="text/javascript">
$('.perform-task-{{ task.pk }}').click(function(e) {
    var $link = $(e.target);
    $link.text('Loading...');

    $.ajax({
        url: window.ASSIGN_TASK_AJAX_URL,
        type: 'POST',
        data: {
            task: {{ task.pk }},
            assignee: window.ASSIGNEE
        },
        success: function(data, textStatus, jqXHR) {
            var $link = $(e.target);

            if ($link.attr('href') !== '') {
                window.location = $link.attr('href');
            } else {
                $link.click();
            }
        }
    });

    return false;
});
</script>
{% endif %}
